*{
    margin:0;
    padding:0;
}
#foodItemsHungryMonster{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 20px;

}

.food-item{
    width: 230px;
    text-align: center;
    background-color: lightgray;
    border-radius: 10px;
}

#image-size{
    width:100%;
    height: 180px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.notify {
    color: rgb(250, 250, 250);
    text-align: center;
    margin: 0 auto;
    background: #554d63;
    margin-top: 20px;
    border-radius: 15px;
    padding: 5px 20px;
    display: none;
}
.notify-section{
    width: 35%;
    margin: 0 auto;
}
#foodDetailsMore{
    margin: 0 35%;
}
#foodDetailsMore img{
    width: 350px;
    height: 200px;
    border-radius: 10px;
}
#foodDetailsMore h5{
    margin-top: 20px;
    font-size: 25px;
    font-weight:bold;
}
#foodDetailsMore ul li{
    list-style: none;
    margin-left: 10px;
}